<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Burgers 2</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />
    <!-- <link rel="stylesheet" href="./style.css" /> -->
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Burger Bars Home Page</h1>
      <div class="container text-center">
        <a class="btn btn-success mb-3" href="/restaurants">Restaurants</a>
        <a class="btn btn-info mb-3" href="/burgers">Burgers</a>
      </div>
    </div>
  </body>
  <footer></footer>
</html>
